@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
* {
  box-sizing: border-box;
  background: #063f06;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 2rem;
}

.Logo {
  margin-left: 2.75rem;
  padding-top: 1.5rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1.375rem;
  width: 100%;
  max-width: 100%;
}

.text-area {
  border: none;
  color: white;
  margin-top: 5.625rem;
  text-transform: lowercase;
}

.text-area::placeholder {
  color: white;
}

.text-area:focus {
  outline: none;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  padding: 0.75rem;
  width: 25rem;
  height: 100%;
  border-radius: 2rem;
  background: #857cff;
}

.mensagem {
  width: 23rem;
  height: 100%;
  flex-shrink: 0;
  border: none;
  border-radius: 2rem;
  background: #857cff;
  color:#ffffff;
}

.mensagem:focus {
  outline: none;
}

.informacao {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 12.5rem;
}

.informacao h6 {
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 150%;
}

.botoes {
  display: flex;
  align-items: left;
  justify-content: left;
  gap: 1rem;
  margin-top: 1.125rem;
  position: relative;
  bottom: 0;
}

.btn-encriptar {
  display: flex;
  padding: 0.75rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 20.5rem;
  border-radius: 1.5rem;
  background: #eff30a;
  border: none;
  color: #000000;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: 0.35s ease;
}

.btn-encriptar:hover {
  background-color: rgb(172, 175, 82);
}

.btn-desencriptar {
  display: flex;
  padding: 0.75rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 20.5rem;
  border-radius: 1.5rem;
  background: #156ada;
  color: #ffffff;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: 0.35s ease;
  border-style: none;
}

.btn-desencriptar:hover {
  background-color: #011a4b;
}

.btn-copiar {
  display: flex;
  width: 21rem;
  padding: 0.75rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  bottom: 0;
  border-radius: 1.5rem;
  border-style: none;

  color: #ffffff;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: 0.35s ease;
}

.btn-copiar:hover {
  background-color: #79da79;
  color: #000000;
}
